<?php
# http://codex.wordpress.org/Editing_wp-config.php

# Database Settings
define('DB_NAME', '{{ wordpress_db_name }}');
define('DB_USER', '{{ wordpress_db_user }}');
define('DB_PASSWORD', '{{ wordpress_db_pass }}');
define('DB_HOST', '{{ wordpress_db_host }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');
# Customizing MAY protect against some blind SQL injection attacks?
$table_prefix  = 'mvwp_';

define('WP_DEBUG', false);# NEVER use debug mode in production!
define('DISABLE_WP_CRON', true);# We'll use real cron, not fake cron.
define('DISALLOW_FILE_MODS', true );# Disables plugin and theme update/install
define('DISALLOW_FILE_EDIT', true );# Disables admin file editor
# Auto-updates require php files writable by web server, massive security error
define('AUTOMATIC_UPDATER_DISABLED', true );

# Absolute path to the WordPress directory. This is customized because we move
# our wp-config.php up a directory, out of the document root.
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/wordpress/');

# Move wp-content and plugins out of the code path to keep code separate from
# content, easing upgrades. Note that the content directory MUST contain
# the default themes directory, or Wordpress is unhappy. Symlink them.
define('WP_CONTENT_DIR', dirname(__FILE__) . '/media' );
define('WP_CONTENT_URL', '/media' );
define('WP_PLUGIN_DIR', dirname(__FILE__) . '/plugins' );
define('WP_PLUGIN_URL', '/plugins' );

# Ansible recipe sets these using https://api.wordpress.org/secret-key/1.1/salt/
require_once(dirname(__FILE__).'/wp-secret-keys.php');

# Alleged cure for login redirect loop on multi-site, seems to work.
# https://tommcfarlin.com/resolving-the-wordpress-multisite-redirect-loop/
# define('ADMIN_COOKIE_PATH', '/');
# define('COOKIE_DOMAIN', '');
# define('COOKIEPATH', '');
# define('SITECOOKIEPATH', '');

# Plugins
define('WP_CACHE', true); // Enable W3 Total Cache

/* That's all, stop editing! Happy blogging. */

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
