#=====================================================================
# Main domain
#=====================================================================
<VirtualHost *:80>
ServerName {{ defaultsite_domain }}
DocumentRoot {{ defaultsite_root }}/public_html/
DefaultType text/html
DirectoryIndex index.html

<Directory {{ defaultsite_root }}/public_html/>
    Options Includes FollowSymLinks
    AllowOverride All
    # Replaces Allow/Deny from earlier Apaches
    Require all granted
</Directory>

# Password protect the /adm/ directory. Useful but sensitive stuff goes there.
# <Location /adm/>
#    AllowOverride None
#    AuthType Basic
#    AuthName "Administrative Resources"
#    AuthBasicProvider file
#    AuthUserFile {{ defaultsite_root }}/htpasswd
#    Require valid-user
# </Location>

</VirtualHost>
