#=====================================================================
# Redirect alias domains to main domain
#=====================================================================
#<VirtualHost *:80>
#ServerName www.{{ domain }}
#Redirect permanent / http://{{ domain }}/
#</VirtualHost>

#=====================================================================
# Main domain
#=====================================================================
<VirtualHost *:80>
ServerName {{ wordpress_domain }}
DefaultType text/html
DocumentRoot {{ wordpress_home }}/public_html/
Alias /media {{ wordpress_home }}/media
Alias /plugins {{ wordpress_home }}/plugins
Alias /themes {{ wordpress_home }}/themes

# Enable PHP files to be handled by fast CGI (php5-fpm)
# NOTE: support for unix domain sockets not added until 2.4.8
ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://{{ fastcgi_listen }}{{ wordpress_home }}/public_html/$1

<Directory {{ wordpress_home }}/public_html>
    Options Includes FollowSymLinks
    AllowOverride All
    # Replaces Allow/Deny from earlier Apaches
    Require all granted
    DirectoryIndex index.php
    DirectoryIndexRedirect Off
    FallbackResource /index.php
</Directory>
<Directory {{ wordpress_home }}/media>
    Options FollowSymLinks
    AllowOverride None
    Require all granted
    DirectoryIndex disabled
</Directory>
<Directory {{ wordpress_home }}/plugins>
    Options FollowSymLinks
    AllowOverride None
    Require all granted
    DirectoryIndex disabled
</Directory>
<Directory {{ wordpress_home }}/themes>
    Options FollowSymLinks
    AllowOverride None
    Require all granted
    DirectoryIndex disabled
</Directory>

# Password protect the /wp-admin/ directory, for double security.
<Location /wp-admin/>
    AllowOverride None
    AuthType Basic
    AuthName "You must be THIS TALL to ride the admin area."
    AuthBasicProvider file
    AuthUserFile {{ wordpress_home }}/htpasswd
    Require valid-user
</Location>

</VirtualHost>
